* {
  font-family: "Courier New", monospace;
}

#home-title {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-left: 250px;
  margin-right: 250px;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
}

img {
  height: auto;
  width: 500px;
}

.bagel {
  height: auto;
  width: 200px;
}

.pizza {
  height: auto;
  width: 700px;
}

.home-list{
  background: #7dd9ee;
  list-style-type: "+";
  list-style-position: outside;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.home-list-item {
  display: inline-block;
  background: #b5e3ed;
  margin: 3px 3px 3px 4px;
  padding: 3px;
}

.ingredient-list {
  list-style-type: square;
  /*list-style-position: inside;*/
  padding: 10px;
  padding-inline-start: 2%;
  background: #7dd9ee;
}

.ingredient-item {
  background: #b5e3ed;
  /*padding: 3px;*/
  margin: 5px;
}

ol {
  /*list-style-position: inside;*/
  padding: 10px;
  padding-inline-start: 4%;
  background: #ee7da6;
}

ol li {
  background: #edb5e6;
  /*padding: 3px;*/
  margin: 5px;
}